---
import Layout from "../../layouts/SecondaryPage.astro";
---

<Layout title="Goals & Multi-year Plan">
  <ul>
    <li>bike repair stations</li>
    <li>annual scholarship budget with multiple scholarship awards</li>
    <li>fundraiser events: pond fest</li>
    <li>grow membership</li>
    <li>band shell</li>
    <li>restoration and improvement projects</li>
    <li>
      join summer concert series (regular fundraising and volunteer
      opportunities at each concert)
    </li>
    <li>tree plantings</li>
    <li>fundraising and improvements for invasive species management</li>
    <li>membership networking events</li>
    <li>apply for grants for funding</li>
    <li>network and build relations with local community</li>
    <li>advocate for park with local politicians and governmental officials</li>
    <li>continue adding and improving member benefits</li>
    <li>continuous curation and maintenance of this multi-year plan</li>
  </ul>

  <h3>Past Achievements / Timeline of FOLP</h3>
   This is our bragging board and we deserve it! Our volunteers work hard and
  give back to Lums Pond out of the goodness of their hearts. We wouldn't exist
  without our volunteers, so let's celebrate our achievements!

  <h4>2024</h4>

  <ul>
    <li>
      Donated $300 to subsidize one school field trip for 99 children. (TODO
      verify)
    </li>
    <li>Formed first event committee (Pond Fest)</li>
    <li>New brochure design.</li>
    <li>Updated bylaws.</li>
    <li>New volunteer T-shirts.</li>
    <li>Added membership dues.</li>
    <li>Started giving out annual stickers exclusive to members.</li>
  </ul>

  <h4>2023</h4>
  <ul>
    <li>
      - Established a new board of directors and executive committee composed of
      7 members.
    </li>

    <li>- Now accepting digital donations.</li>
    <li>
      - Start of rebranding. First updates were a new logo and new website.
    </li>
  </ul>

  <h4>2022</h4>
  <ul>
    <li>
      Recruited several members after pandemic lull and started hosting
      in-person events again.
    </li>
  </ul>

  <h4>2008 - 2021</h4>
  <ul>
    <li>TO DO</li>
  </ul>

  <h4>2007</h4>
  <ul>
    <li>FOLP was founded by Clara Robbs and Rich Miller on Dec 10th, 2007.</li>
  </ul>
</Layout>
