---
import Layout from "../../layouts/SecondaryPage.astro";
---

<Layout title="Goals & Multi-year Plan">
  <p>
    Part of our mission and vision of the friends group involves increasing our
    contributions and aspirations for Lums Pond. We plan on spearheading
    multiple projects and campaigns to achieve these goals. The board has put
    together a roadmap of our goals for the next few years. We encourage you to
    check it out, get excited about the things in store for the friends group,
    and welcome you to participate in reaching these goals!
  </p>
  <b>
    <small>
      NOTE: This is a work in progress, but also intended to be a living
      document that changes over time. Feel free to check back later for more
      updates. If you have any questions, please reach out to our leadership
      team.
    </small>
  </b>
  <ul>
    <li>
      Bike repair stations (IN PROGRESS)
      <ul>
        <li>
          <a href="https://donorbox.org/bike-repair-station">
            Donate or view campaign here
          </a>
        </li>
      </ul>
    </li>
    <li>
      Annual scholarship budget with multiple scholarship awards (IN PROGRESS)
      <ul>
        <li>
          <a href="https://donorbox.org/2025-youth-scholarships">
            Donate or view campaign here
          </a>
        </li>
      </ul>
    </li>
    <li>Host fundraiser events, starting with Pond Fest (IN PROGRESS)</li>
    <li>Grow membership</li>
    <li>Band shell</li>
    <li>Restoration and improvement projects</li>
    <li>
      Join summer concert series (regular fundraising and volunteer
      opportunities at each concert)
    </li>
    <li>Tree plantings</li>
    <li>Fundraising and improvements for invasive species management</li>
    <li>Membership networking events</li>
    <li>Apply for grants for funding</li>
    <li>Network and build relations with local community</li>
    <li>Advocate for park with local politicians and governmental officials</li>
    <li>Continue adding and improving member benefits</li>
    <li>Continuous curation and maintenance of this multi-year plan</li>
  </ul>

  <h3>Past Achievements / Timeline of FOLP</h3>
   This is our bragging board and we deserve it! Our volunteers work hard and
  give back to Lums Pond out of the goodness of their hearts. We wouldn't exist
  without our volunteers, so let's celebrate our achievements!

  <h4>2024</h4>

  <ul>
    <li>Donated $300 to subsidize one school field trip for 99 children.</li>
    <li>Formed first event committee (Pond Fest)</li>
    <li>New brochure design.</li>
    <li>Updated bylaws.</li>
    <li>New volunteer T-shirts.</li>
    <li>Added membership dues.</li>
    <li>Started giving out annual stickers to members.</li>
  </ul>

  <h4>2023</h4>
  <ul>
    <li>
      Established a new board of directors and executive committee composed of 7
      members.
    </li>

    <li>Now accepting digital donations.</li>
    <li>Start of rebranding. First updates were a new logo and new website.</li>
  </ul>

  <h4>2022</h4>
  <ul>
    <li>
      Recruited several members after pandemic lull and started hosting
      in-person events again.
    </li>
  </ul>

  <h4>2008 - 2021</h4>
  <ul>
    <li>TO DO</li>
  </ul>

  <h4>2007</h4>
  <ul>
    <li>FOLP was founded by Clara Robbs and Rich Miller on Dec 10th, 2007.</li>
  </ul>
</Layout>
