/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 /* additional color reference https://coolors.co/004a87-00213d-ffefd6 */
:root, ::backdrop {
  /* https://uicolors.app/create -- primary:congress blue:#004A87 */
  --color-primary-rgb-50: 239, 247, 255;
  --color-primary-rgb-100: 222, 239, 255;
  --color-primary-rgb-200: 182, 224, 255;
  --color-primary-rgb-300: 118, 199, 255;
  --color-primary-rgb-400: 45, 171, 255;
  --color-primary-rgb-500: 2, 145, 245;
  --color-primary-rgb-600: 0, 113, 210;
  --color-primary-rgb-700: 0, 91, 170;
  --color-primary-rgb-800: 0, 74, 135;
  --color-primary-rgb-900: 7, 64, 115;
  --color-primary-rgb-950: 4, 41, 77;
  --color-primary-rgb-1000: 0, 22, 41;
  --color-primary-50: rgb(var(--color-primary-rgb-50));
  --color-primary-100: rgb(var(--color-primary-rgb-100));
  --color-primary-200: rgb(var(--color-primary-rgb-200));
  --color-primary-300: rgb(var(--color-primary-rgb-300));
  --color-primary-400: rgb(var(--color-primary-rgb-400));
  --color-primary-500: rgb(var(--color-primary-rgb-500));
  --color-primary-600: rgb(var(--color-primary-rgb-600));
  --color-primary-700: rgb(var(--color-primary-rgb-700));
  --color-primary-800: rgb(var(--color-primary-rgb-800));
  --color-primary-900: rgb(var(--color-primary-rgb-900));
  --color-primary-950: rgb(var(--color-primary-rgb-950));
  --color-primary-1000: rgb(var(--color-primary-rgb-1000));

  /* https://uicolors.app/create -- gray:mako:#404756 */
  --color-gray-rgb-50: 246, 247, 249;
  --color-gray-rgb-100: 237, 238, 241;
  --color-gray-rgb-200: 214, 217, 225;
  --color-gray-rgb-300: 178, 185, 199;
  --color-gray-rgb-400: 136, 147, 168;
  --color-gray-rgb-500: 106, 118, 141;
  --color-gray-rgb-600: 84, 95, 117;
  --color-gray-rgb-700: 69, 77, 95;
  --color-gray-rgb-800: 64, 71, 86;
  --color-gray-rgb-900: 53, 58, 69;
  --color-gray-rgb-950: 35, 38, 46;
  --color-gray-50: rgb(var(--color-gray-rgb-50));
  --color-gray-100: rgb(var(--color-gray-rgb-100));
  --color-gray-200: rgb(var(--color-gray-rgb-200));
  --color-gray-300: rgb(var(--color-gray-rgb-300));
  --color-gray-400: rgb(var(--color-gray-rgb-400));
  --color-gray-500: rgb(var(--color-gray-rgb-500));
  --color-gray-600: rgb(var(--color-gray-rgb-600));
  --color-gray-700: rgb(var(--color-gray-rgb-700));
  --color-gray-800: rgb(var(--color-gray-rgb-800));
  --color-gray-900: rgb(var(--color-gray-rgb-900));
  --color-gray-950: rgb(var(--color-gray-rgb-950));

  --font-header: "Festivo LC", sans-serif;

  /* TODO: remove these in favor of colors above */
  --accent: var(--color-primary-500);
  --accent-dark: var(--color-primary-800);
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--color-gray-50);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-gray-950);
  font-size: 20px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--color-gray-950);
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

p {
  margin-bottom: 1em;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.agenda-table td:first-child {
  padding-right: 1.25rem;
}