---
import Layout from "../../layouts/SecondaryPage.astro";
---

<Layout title="By-Laws">
  <p>
    <div>
      <p>
        <strong>Friends of Lums Pond, Inc.</strong>
      </p>
      <p>
        <strong>Mission Statement</strong>
      </p>
      <p>
        Friends of Lums Pond, Inc. is a non-profit organization (qualifies under
        IRS 501(c)(3)) independent of state park management whose mission is the
        protection and preservation of the Delaware Lums Pond State Park through
        needs assessment, enhancement projects, public relations and education.
      </p>
      <p>
        <strong>Friends of Lums Pond [State Park]</strong>
      </p>
      <p>
        <strong>By-Laws</strong>
      </p>
      <p>Article I &ndash; Membership</p>
      <ol type="1">
        <li>
          Membership in the organization shall be open to any individual who
          pays the organizational membership dues, and pays either the annual
          vehicle registration or the daily park admission fee for meetings or
          Park Activities.
        </li>
        <li>
          Each member of the organization shall be entitled to one vote on any
          organization matter.
        </li>
        <li>
          Membership may be terminated by a majority vote of all members present
          at termination meeting. However, no member shall be terminated without
          said member receiving an opportunity to be heard.
        </li>
      </ol>
      <p>Article II &ndash; Board of Directors and Organization Officers</p>
      <ol type="1">
        <li>
          Officers and Board of Directors shall be members of the Organization.
          EXCEPTION: employees of Lums Pond State Park or other employees of the
          Delaware Division of Parks and Recreation may not be officers or board
          members of the organization. The Board of Directors (minimum of 3
          board members) and four officer positions listed below, together they
          make the executive committee:<ol type="a">
            <li>President</li>
            <li>Vice President</li>
            <li>Secretary</li>
            <li>Treasurer</li>
          </ol>
        </li>
      </ol>
      <ol start="2" type="1">
        <li>
          <span
            >Board of Directors: The Board of Directors (commonly referred
            simply as the board) jointly supervises the activities of an
            organization. The board of directors are elected at the annual
            meeting and serve minimum of two year terms with 1 position expiring
            per year (staggered terms). The first Board of Directors was
            added/elected in 2023 so one board member will be up for vote in
            2025, the next in 2026 and the final one in 2027 for a staggered
            term. The annual meeting is also the timing for the directors to be
            elected. The Board of Directors will meet on a schedule they
            determine. Duties of the board of directors include:</span
          >
          <ol type="a">
            <li>
              <span
                >Setting the organization&rsquo;s mission, strategy, and goals
                and providing sound governance, fiduciary and strategic
                oversight and direction.</span
              >Setting strategy in consultation with park and state management.
              Sets boundaries for scope of activities with the mission and scope
              of the organization.
            </li>
            <li>
              <span
                >Developing direction and plan for financial resources and&nbsp;</span
              >ensuring the availability of adequate financial resources
              (including direction for spending directions)
            </li>
            <li>
              Ensuring effective organizational planning and legal compliance.
              Recognize and disclose conflicts of interest; Make decisions that
              are in the best interest of the nonprofit corporation; not in the
              best interest of the individual board member (or any other
              individual or for-profit entity).
            </li>
            <li>
              Advocating for the organization and using connections to help it
              grow. Upholding the public's trust and the organization's mission.
              Serve as ambassadors and advocates for the organization.
            </li>
          </ol>
        </li>
        <li>
          The Officers: At the annual meeting of the organization, a President,
          Vice President, Secretary, and Treasurer shall be elected. The
          officers shall be elected by a majority vote of the members present at
          the annual meeting and shall serve a term of one year or until his or
          her successor is elected. The officers may meet on a schedule they
          determine. The officer&rsquo;s primary duties are:<ol type="a">
            <li>
              President: Develops and executes plans to support mission of the
              organization and strategic objectives from the board of directors.
              Works with park superintendent and other staff to support the
              park&rsquo;s direction for maintenance and growth.
            </li>
            <li>
              Vice President: Assists President in duties and leads activities
              in support of directions.
            </li>
            <li>
              The Secretary shall prepare the written records of all proceedings
              of the organization and all actions of the board of directors. The
              records shall be submitted to the board of directors for review
              and approval of the membership. The Secretary shall also be the
              custodian of these records. Additionally, the secretary shall be
              responsible for the coordination of all organization
              correspondence. The secretary will also be responsible for any
              "print"/"web" material to assure it is up to date and work with
              officers and board /other to change/upgrade.
            </li>
            <li>
              The Treasurer shall have custody of the organizational funds and
              securities and shall keep full and accurate accounts of receipts
              and disbursements in books belonging to the organization and shall
              keep the monies of the organization in a separate account, to the
              credit of the organization. The Treasurer shall disburse the funds
              of the organization as approved by the President, taking proper
              vouchers for such disbursements, and shall render an accounting of
              all organization transactions and of the financial condition of
              the organization upon request of the board of directors. The
              Treasurer shall also be responsible for any tax reporting and
              legal documentation related to the organization. At least two
              officers will be on the signature card for the bank account. The
              treasurer will make sure all the IRS reporting for organization is
              done on time and with approved content.
            </li>
          </ol>
        </li>
      </ol>
      <ol start="4" type="1">
        <li>
          Any officer or board member failing to attend, without a satisfactory
          excuse, three (3) executive committee meetings in any fiscal year may
          be considered as having tendered his or her resignation that shall be
          accepted by the executive committee.&nbsp; In the event of a vacancy
          due to the removal, resignation, death, unfilled position, or other
          loss of an officer or board member prior to the completion of his or
          her term, the remaining executive committee may at their discretion
          appoint a new officer/board member, by majority vote to serve for the
          rest of the term. In the event of a tie vote, the tie shall be broken
          by a majority vote of the current committee chairperson.
        </li>
        <li>
          Both the Board of Directors and the officers plan for the annual
          meeting.
        </li>
        <li>
          The Friends of Lums Pond, Inc. shall hold all the property, effects,
          and assets of the organization in trust for the benefit and enjoyment
          of the members, and the Officers shall have the management and control
          of the same, and shall exercise a general superintendence over the
          affairs of the organization.
        </li>
        <li>
          There will be at least 3 meetings per year for the total Executive
          Committee (Board and Officers). There will be a minimum of one meeting
          to include all members (annual meeting). These are minimums meetings
          are not recommendations. Meetings should be designed to support the
          organization&rsquo;s mission. In the President&rsquo;s absence, the
          Vice President shall reside at all meetings of the organization.
        </li>
        <li>
          The officers, board of directors, and the members of the organization
          shall perform their duties without compensation.
        </li>
      </ol>
      <p>Article III &ndash; Dues and Fiscal Structure</p>
      <ol type="1">
        <li>
          The annual dues of members of the organization shall be proposed by
          the board of directors and approved by a majority vote of the board of
          directors and officers the month prior to the annual meeting and will
          be communicated at the annual meeting. The Treasurer will collect and
          account for the dues.
        </li>
        <li>
          The dues shall be collected annually for existing members (due date
          proposed by treasurer and finalized by officers). New members shall
          pay the dues upon joining the organization. If their membership date
          is within three months of the new fiscal year, the initial payment
          shall cover dues for the following year.
        </li>
        <li>
          Members are also required to pay admission to the Park for all
          meetings and organizational activities and projects. This may be done
          via the Annual Park Vehicle Registration Fee A/K/A Annual Permit, or
          paying the normal daily park entrance fee.
        </li>
        <li>
          The fiscal year for the organization shall coincide with the calendar
          year.
        </li>
        <li>
          The Delaware Division of Parks and Recreation, a branch of the
          Department of Natural Resources and Environmental Control (DNREC) may
          have volunteer benefits with logged volunteer hours for annual passes
          or other items. All members can partake in the official Delaware
          Division of Parks and Recreation systems for volunteers. Any concerns
          relative to ethics or conflicts of interest should be
          reviewed/referred to the board of directors.
        </li>
      </ol>
      <p>Article IV &ndash; Meetings</p>
      <ol type="1">
        <li>
          The annual meeting of the organization shall be held in April of each
          year at such place as the organization officers may select. At least
          10 days notice thereof shall be emailed or mailed to each member at
          his or her last known address (email preferred). Other meetings with
          members will be determined by the Executive Committee and with at
          least 10 days notice.
        </li>
        <li>
          The Board of Directors can meet as determined by them. The officers
          can meet as determined by them. The executive committee will meet
          minimally three times per year (Executive Committee is the Board +
          Officers).
        </li>
        <li>
          A special meeting of the organization shall be called by the President
          upon receiving a notice or request from five members requesting such
          meeting and stating the purpose thereof.
        </li>
        <li>
          Special meetings of the organization, as required, shall be held at a
          place and a date and time to be fixed by the officers and at least ten
          days&rsquo; written notice thereof shall be mailed to each member at
          his or her last known email address.
        </li>
        <li>
          Four members of the executive committee, one of whom must be the
          President or Vice President, shall constitute a quorum for the
          transaction of all business. Should a quorum not be present at any
          meeting, those present may conduct such business as set forth in the
          agenda, subject to approval at the next meeting at which a quorum is
          present. In the absence of a quorum the members attending the meeting
          may not take action on any business not on the agenda for the meeting.
        </li>
      </ol>
      <p>Article V &ndash; Committees</p>
      <ol type="1">
        <li>
          The Board of Directors shall appoint bi-annually an Auditing Committee
          consisting of at least three members to audit the books of the
          organization. The auding committee shall submit a report at the annual
          meeting of the organization.
        </li>
        <li>
          The officers or board of directors shall appoint such other standing
          and ad hoc committees as shall be deemed necessary for the operation
          of the organization. Members of all such committees shall be members
          of the organization. The President shall define the duties of each
          such committee in writing.
        </li>
      </ol>
      <p>Article VI &ndash; Projects</p>
      <ol type="1">
        <li>
          Projects may be initiated by any member or standing committee.&nbsp;
          If a committee does not exist for a given project and one is deemed
          necessary by the membership, a committee chairman shall be appointed
          by the organization officers, at their discretion. The committee
          chairperson shall form the committee at his or her discretion.
        </li>
        <li>
          All projects must be reviewed and approved first by the organization
          officers.
        </li>
        <li>
          Before a project can begin, it must be reviewed and approved by the
          Park Administrator/designee.
        </li>
        <li>
          All projects shall be performed with safety as the number one
          priority.
        </li>
        <li>
          All State and local laws and all Park rules and regulations shall be
          respected and followed during the execution of the projects.
        </li>
      </ol>
      <p>Article VII &ndash; Amendments</p>
      <p style="margin-left:36pt">
        These by-laws may be amended, repealed, altered, in whole or in part, by
        a majority vote of the membership of said organization who are present
        at any annual or special meeting. Such changes in the by-laws shall
        first be read and considered at an annual or regular meeting of the
        membership at least thirty days prior to the vote thereof. In addition,
        a written notification or email shall be provided to all members at
        least thirty days prior to the date of the meeting that a vote is to be
        taken (email preferred).
      </p>
    </div>
  </p>
</Layout>
