---
import Layout from "../../layouts/SecondaryPage.astro";
---

<Layout title="Membership">
  <h4>Benefits</h4>
  <p>
    When you join Friends of Lums Pond, you become an integral part of our
    mission. As a member, you enjoy a range of benefits:
  </p>
  <ul>
    <li>
      <b>Voting Power:</b> Have a say in important decisions that shape the
      park's future.
    </li>
    <li>
      <b>Election of Officers:</b> Participate in the selection of leadership.
    </li>
    <li>
      <b>Project Participation:</b> Get involved in exciting enhancement
      projects.
    </li>
    <li>
      <b>Shared Goals:</b> Work together with like-minded individuals to make
      positive changes and new developments at Lums Pond State Park.
    </li>
    <li>
      <b>Communications:</b> Receive member-only communications such as voting,
      event planning, and organization changes. Stay informed about park events
      and meetings.
    </li>
    <li>
      <b>Community:</b> Be a part of a community that invests in nature and
      shares your passion and love of the park.
    </li>
    <li>
      <b>Annual Park Pass:</b> Any volunteer with 100 or more volunteer hours
      will receive an annual park pass that grants access to all of the state
      parks in Delaware.
    </li>
    <li>
      <b>Merchandise:</b>
      <ul>
        <li>
          Receive one rotating member-exclusive sticker each year. Check out the
          one for <a href="/blog/24-04-15-election-results-and-new-shirts"
            >2024 here</a
          >! You can receive yours in-person at any of our volunteer events.
          Please contact the volunteer coordinator when you arrive.
        </li>
        <li>
          Ability to purchase member-exclusive merch such as volunteer shirts
          and stickers.
        </li>
      </ul>
    </li>
    <li>
      <b>Access:</b>
      <ul>
        <li>Access to our organization's IT software.</li>
        <li>A personalized @friendsoflumspond.org email address and inbox.</li>
      </ul>
    </li>
  </ul>

  <h3>Becoming a member</h3>

  <ul>
    <li>
      Apply and pay membership dues <a
        href="https://donorbox.org/friends-of-lums-pond"
        target="_blank">using the form here</a
      >.
    </li>
    <ul>
      <li>Annual dues are $10 per year and due by April 1st.</li>
      <li>
        We recommend setting up your recurring dues online using our Donorbox
        form above. We also can accept cash and checks if desired.
      </li>
    </ul>
    <li>
      Purchase a volunteer shirt following the instructions below under "Member
      merchandise".
    </li>
    <li>
      Expect to receive an email within the next few days with our
      organization's onboarding documentation.
    </li>
    <li>
      If you have any questions or concerns, please send an email to <a
        href="mailto:membership@friendsoflumspond.org"
        >membership@friendsoflumspond.org</a
      >
    </li>
    <li>Thank you for being a friend of Lums Pond!</li>
  </ul>

  <h4>Member merchandise</h4>
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
  <stripe-pricing-table
    pricing-table-id="prctbl_1PySnhRpfaCQlFMK3wfzbBvl"
    publishable-key="pk_live_51Mca4QRpfaCQlFMKQWcTTn3EjtrTSVX89qQ8eZ1odXoTGjlVB1FljXODsQJyyr4R2Kqp51Fw8zXoNtFrsingXyLj006MNNU91H"
  >
  </stripe-pricing-table>
   Merch FAQ:
  <ul style="font-size: 1rem;">
    <li>
      You can pick up your merchandise in-person at any of our volunteer events.
      Please contact the volunteer coordinator when you arrive.
    </li>
    <li>
      Merch can be purchased by members at any time. There is a chance you may
      need to wait for pickup if we need to order more.
    </li>
    <li>We can accept cash and checks for merch if desired.</li>
  </ul>
</Layout>
