---
import Layout from "../../layouts/SecondaryPage.astro";
---

<Layout title="Pond Fest 2024">
  <p>
    <div>
      <p>
        <strong>Friends of Lums Pond, Inc.</strong>
      </p>
      <p>
        <strong>Mission Statement</strong>
      </p>
      <p>
        Friends of Lums Pond, Inc. is a non-profit organization (qualifies under
        IRS 501(c)(3)) independent of state park management whose mission is the
        protection and preservation of the Delaware Lums Pond State Park through
        needs assessment, enhancement projects, public relations and education.
      </p>
    </div>
  </p>
</Layout>
