---
import { Image } from "astro:assets";
import Layout from "../../layouts/SecondaryPage.astro";
import { getUrl } from "../../components/getUrl";
import EventMap from "../../images/pondfest-event-map.png";
import VendorMap from "../../images/pondfest-vendors.png";
import PondFest from "../../images/pondfest.png";
import PondFestShirt from "../../images/pondfest-shirt.png";
---

<!-- 

list of raffle baskets

survey links

 -->
<Layout title="Pond Fest 2024">
  <div>
    <Image src={PondFest} alt="pond fest logo" id="event-logo" />
    <!-- <p>
        <strong>Friends of Lums Pond, Inc.</strong>
      </p>
      <p>
        <strong>Mission Statement</strong>
      </p>
      <p>
        Friends of Lums Pond, Inc. is a non-profit organization (qualifies under
        IRS 501(c)(3)) independent of state park management whose mission is the
        protection and preservation of the Delaware Lums Pond State Park through
        needs assessment, enhancement projects, public relations and education.
      </p> -->
    <!-- <script src="https://donorbox.org/widget.js" paypalExpress="false"
      ></script><iframe
        src="https://donorbox.org/embed/2025-youth-scholarships?default_interval=o&show_content=true"
        name="donorbox"
        allowpaymentrequest="allowpaymentrequest"
        seamless="seamless"
        frameborder="0"
        scrolling="no"
        height="900px"
        width="100%"
        style="max-width: 100%; min-width: 100%; max-height:none!important"
        allow="payment"></iframe> -->
    <!-- <script src="https://donorbox.org/widget.js" paypalExpress="false"
      ></script><iframe
        frameborder="0"
        height="93px"
        name="donorbox"
        scrolling="no"
        seamless="seamless"
        src="https://donorbox.org/embed/2025-youth-scholarships?only_donation_meter=true&donation_meter_color=%23004a87"
        style="max-width:332px; min-width:250px; min-height: 90px; max-height:none!important"
        width="100%"></iframe>
      <script src="https://donorbox.org/widget.js" paypalExpress="false"
      ></script><iframe
        frameborder="0"
        name="donorbox"
        scrolling="no"
        seamless="seamless"
        src="https://donorbox.org/embed/2025-youth-scholarships?donor_wall_color=%23004a87&only_donor_wall=true"
        style="width: 100%; max-width:500px; min-width:310px; min-height: 345px;"
      ></iframe> -->
    <div>
      <div id="map-jump">
        Looking for the event and vendors map?
        <br />
        <a href="#vendors">Click here</a>
      </div>

      <h2>What is Pond Fest?</h2>
      <h3>Friends of Lums Pond</h3>
      <p>
        Friends of Lums Pond, Inc. is a nonprofit organization dedicated to
        preserving and enhancing Lums Pond State Park through volunteer efforts,
        fundraising, education, and advocacy. Operating independently since
        2002, we work under a Friends agreement with Delaware State Parks,
        following their standards for volunteer organizations.
      </p>
      <p>
        Come talk to us at the information tables! You could even become a
        member!
        <br />
         You can read more about <a href={getUrl("resources/membership")}
          >member benefits here</a
        >.
      </p>
      <h3>Pond Fest</h3>
      <p>
        Pond Fest is a concert for a cause hosted by the Friends of Lums Pond
        State Park. Our specific goals for this event are to fund youth
        scholarships as much as possible in 2025 and install the first bike
        repair station in the park.
      </p>
      <p>
        Our group has reached out to our local community including small
        businesses, non-profits, crafters, volunteers, and clubs. The response
        has been incredibly rewarding and positive!
      </p>
      <p>
        The target goal is to raise $4,000. Please help us achieve our goal to
        give back to the park and community!
      </p>

      <p>
        We also have event-exclusive T-shirts for sale at the information
        tables!
        <Image src={PondFestShirt} alt="pond fest shirt" id="event-shirt" />
      </p>
      <p>
        Tag us on social media!
        <br />@FriendsOfLumsPond
        <br />#PondFest
        <br />#LumsPond
        <br />#LumsPondFest
        <br />#DEStateParks
      </p>

      <h2>What are we fundraising for?</h2>

      <h3>Youth Scholarships</h3>
      <p>
        Scholarship funds increase access for Title 1 schools (schools with 40%
        or more low-income families) to the outdoors through environmental
        education field trips by reducing the cost barrier to local schools. In
        the spring of 2024, Lums Pond had 524 students attend these field trips.
        Our ultimate goal is to subsidize as much of that as possible and enable
        more students to participate. To find out more or contribute, please
        visit our
        <a href="https://donorbox.org/2025-youth-scholarships">
          scholarship fundraising campaign here
        </a>.
      </p>
      <script src="https://donorbox.org/widget.js" paypalExpress="false"
      ></script><iframe
        frameborder="0"
        height="93px"
        name="donorbox"
        scrolling="no"
        seamless="seamless"
        src="https://donorbox.org/embed/2025-youth-scholarships?only_donation_meter=true&donation_meter_color=%23004a87"
        style="max-width:332px; min-width:250px; min-height: 90px; max-height:none!important"
        width="100%"></iframe>

      <h3>Bike Repair Station</h3>
      <p>
        We want to improve the experience for bike riders in the park. We are
        targeting a double-sided Dero Fixit Plus bike repair station with Air
        Kit Prime attachment estimated at $2,149. It includes all the tools
        necessary to perform basic bike repairs like changing a flat or
        adjusting brakes. It is a well-known brand trusted and installed in
        several other DE state parks. We also need to raise funds for installing
        a concrete pad for the station. To find out more or contribute, please
        visit our
        <a href="https://donorbox.org/bike-repair-station">
          bike station fundraising campaign here
        </a>
      </p>
      <iframe
        frameborder="0"
        height="93px"
        name="donorbox"
        scrolling="no"
        seamless="seamless"
        src="https://donorbox.org/embed/bike-repair-station?only_donation_meter=true&donation_meter_color=%23004a87"
        style="max-width:332px; min-width:250px; min-height: 90px; max-height:none!important"
        width="100%"></iframe>

      <h2 id="vendors">Event Amenities & Activities</h2>
      <Image src={EventMap} alt="event map at pond fest" id="event-map" />
      <table>
        <thead>
          <tr>
            <th>Location</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tr><td>A1</td><td>Vendors</td></tr>
            <tr><td>A2</td><td>Kid Crafts</td></tr>
            <tr><td>A3</td><td>Face Painting</td></tr>
            <tr><td>A4</td><td>Restrooms</td></tr>
            <tr><td>A5</td><td>General Seating</td></tr>
            <tr><td>A6</td><td>Walking Art Tour</td></tr>
            <tr><td>B1</td><td>Music & Main Stage</td></tr>
            <tr><td>B2</td><td>First Aid</td></tr>
            <tr><td>B3</td><td>Volunteer Station</td></tr>
            <tr><td>C1</td><td>RC Club Display</td></tr>
            <tr><td>C2</td><td>Fire Truck</td></tr>
            <tr><td>C3</td><td>Beer, Seltzer, Water</td></tr>
            <tr><td>C4</td><td>Food Trucks</td></tr>
            <tr><td>C5</td><td>Raffles</td></tr>
            <tr><td>C6</td><td>Tickets</td></tr>
            <tr><td>C7</td><td>Lums Pond Park Staff</td></tr>
            <tr><td>C8</td><td>Friends of Lums Pond Info + Event Shirts</td></tr
            >
            <tr><td>C9</td><td>Event Info + Check-In</td></tr>
          </tr>
        </tbody>
      </table>

      <h4>Live Music</h4>
      <ul>
        <li>12-2 pm PJ’s Pub Tour</li>
        <li>2-4 pm Lucky Stone</li>
      </ul>
      <h4>Local Brews</h4>
      <ul>
        <li>Beer from JAKL Beer Works</li>
        <li>Seltzer from Volunteer Brewing Company</li>
      </ul>

      <h4>Food Trucks</h4>
      <ul>
        <li>Dixie’s Down Home Cooking</li>
        <li>TukTuk Wings & Thai Bowls</li>
        <li>Shake It Fast</li>
      </ul>
      <h4>Kid Activities</h4>
      <ul>
        <li>Crafts</li>
        <li>Face painting</li>
      </ul>
      <h4>Displays</h4>
      <ul>
        <li>Delaware R/C Club</li>
        <li>Fire truck from Volunteer Hose Co. of Middletown</li>
        <li>
          Large pieces of artwork hand-painted by local families and schools
        </li>
      </ul>

      <h4>Vendors, Crafters, and Nonprofits</h4>
      <Image src={VendorMap} alt="vendor map at pond fest" id="vendor-map" />

      <div>
        <button id="sortButton">Sort by location?</button>
      </div>

      <table id="by-name">
        <thead>
          <tr>
            <th>Location</th>
            <th>Name of Business/Organization</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tr><td>C4</td><td>A Flicker of Daisy Candle Co.</td></tr>
            <tr><td>A4</td><td>Beaded Expressions by Mary</td></tr>
            <tr><td>F1</td><td>Bear Public Libraries/Dolly Parton</td></tr>
            <tr><td>A9</td><td>Birth to Three</td></tr>
            <tr><td>D4</td><td>Blenheim/Bayberry</td></tr>
            <tr><td>D3</td><td>Blue Hen Insurance</td></tr>
            <tr><td>G3</td><td>Catalyst Accessories</td></tr>
            <tr><td>A3</td><td>Crafty Gals</td></tr>
            <tr><td>G2</td><td>Crafty Sass Gifts</td></tr>
            <tr><td>C1</td><td>Creations by Court</td></tr>
            <tr><td>E2</td><td>Crossan Chick Creations</td></tr>
            <tr><td>F1</td><td>Curious Tiel Designs</td></tr>
            <tr><td>A10</td><td>Delaware Readiness Teams</td></tr>
            <tr><td>A6</td><td>First State Urgent Vet</td></tr>
            <tr
              ><td>A12</td><td>Granite-Corinthian Lodge No. 34 A.F. & A.M.</td
              ></tr
            >
            <tr><td>A7</td><td>Grass Roots Rescue</td></tr>
            <tr><td>D1</td><td>Guild Mortgage</td></tr>
            <tr><td>B4</td><td>House rabbit society of SE PA Delaware</td></tr>
            <tr><td>D2</td><td>Kails craft co</td></tr>
            <tr><td>A8</td><td>Little Bear Dog Care and Training</td></tr>
            <tr><td>F4</td><td>M.N. Bonds( book author)</td></tr>
            <tr><td>B3</td><td>Mother Flosser Embroidery</td></tr>
            <tr><td>G1</td><td>Pangaea Fair Trade</td></tr>
            <tr><td>E3</td><td>Passanante’s Home Food Service</td></tr>
            <tr><td>A8</td><td>Pawsitively Perfect Dog Grooming</td></tr>
            <tr><td>C2</td><td>Pawsome Treats & More</td></tr>
            <tr><td>G4</td><td>Ridgway Law</td></tr>
            <tr><td>A11</td><td>Sally the Starter</td></tr>
            <tr><td>E4</td><td>Scentsy by Jen</td></tr>
            <tr><td>A2</td><td>Sew What ?</td></tr>
            <tr><td>B1</td><td>Sit Means SIt</td></tr>
            <tr><td>B2</td><td>Small Wonder Delaware</td></tr>
            <tr><td>C3</td><td>SoulGarden</td></tr>
            <tr><td>E1</td><td>The Love Bug Bake Shop</td></tr>
            <tr><td>A5</td><td>Way Outside Studios</td></tr>
            <tr><td>F3</td><td>Will’s Wash & Go LLC.</td></tr>
            <tr><td>A1</td><td>You Shine Boutique</td></tr>
          </tr>
        </tbody>
      </table>

      <table id="by-location" class="hidden">
        <thead>
          <tr>
            <th>Location</th>
            <th>Name of Business/Organization</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tr><td>A1</td><td>You Shine Boutique</td></tr>
            <tr><td>A2</td><td>Sew What ?</td></tr>
            <tr><td>A3</td><td>Crafty Gals</td></tr>
            <tr><td>A4</td><td>Beaded Expressions by Mary</td></tr>
            <tr><td>A5</td><td>Way Outside Studios</td></tr>
            <tr><td>A6</td><td>First State Urgent Vet</td></tr>
            <tr><td>A7</td><td>Grass Roots Rescue</td></tr>
            <tr><td>A8</td><td>Little Bear Dog Care and Training</td></tr>
            <tr><td>A8</td><td>Pawsitively Perfect Dog Grooming</td></tr>
            <tr><td>A9</td><td>Birth to Three</td></tr>
            <tr><td>A10</td><td>Delaware Readiness Teams</td></tr>
            <tr><td>A11</td><td>Sally the Starter</td></tr>
            <tr
              ><td>A12</td><td>Granite-Corinthian Lodge No. 34 A.F. & A.M.</td
              ></tr
            >
            <tr><td>B1</td><td>Sit Means SIt</td></tr>
            <tr><td>B2</td><td>Small Wonder Delaware</td></tr>
            <tr><td>B3</td><td>Mother Flosser Embroidery</td></tr>
            <tr><td>B4</td><td>House rabbit society of SE PA Delaware</td></tr>
            <tr><td>C1</td><td>Creations by Court</td></tr>
            <tr><td>C2</td><td>Pawsome Treats & More</td></tr>
            <tr><td>C3</td><td>SoulGarden</td></tr>
            <tr><td>C4</td><td>A Flicker of Daisy Candle Co.</td></tr>
            <tr><td>D1</td><td>Guild Mortgage</td></tr>
            <tr><td>D2</td><td>Kails craft co</td></tr>
            <tr><td>D3</td><td>Blue Hen Insurance</td></tr>
            <tr><td>D4</td><td>Blenheim/Bayberry</td></tr>
            <tr><td>E1</td><td>The Love Bug Bake Shop</td></tr>
            <tr><td>E2</td><td>Crossan Chick Creations</td></tr>
            <tr><td>E3</td><td>Passanante’s Home Food Service</td></tr>
            <tr><td>E4</td><td>Scentsy by Jen</td></tr>
            <tr><td>F1</td><td>Bear Public Libraries/Dolly Parton</td></tr>
            <tr><td>F1</td><td>Curious Tiel Designs</td></tr>
            <tr><td>F3</td><td>Will’s Wash & Go LLC.</td></tr>
            <tr><td>F4</td><td>M.N. Bonds( book author)</td></tr>
            <tr><td>G1</td><td>Pangaea Fair Trade</td></tr>
            <tr><td>G2</td><td>Crafty Sass Gifts</td></tr>
            <tr><td>G3</td><td>Catalyst Accessories</td></tr>
            <tr><td>G4</td><td>Ridgway Law</td></tr>
          </tr>
        </tbody>
      </table>

      <h2>Sponsors</h2>
      <p>
        Friends of Lums Pond would like to extend our deepest gratitude to our
        sponsors for our very first Pond Fest 2024! Together, we are making an
        impact. We could not do it without you!
      </p>

      <h3>Platinum</h3>
      <ul>
        <li>Ridgway Law Group, LLC</li>
        <li>Granite-Corinthian Lodge No. 34 A.F. & A.M.</li>
        <li>Blenheim Homes</li>
        <li>Sit Means Sit</li>
      </ul>

      <h3>Gold</h3>
      <ul>
        <li>Blue Hen Insurance</li>
        <li>MOT Lending Group at Guild Mortgage</li>
      </ul>

      <h3>Silver</h3>

      <ul><li>Hovik Nazarian at Long & Foster Real Estate</li></ul>

      <h3>Bronze</h3>
      <ul>
        <li>State Rep. Eric Morrison</li>
        <li>Taquería Atexquita</li>
      </ul>

      <h2>Pond Fest Committee</h2>
      <b>Bryan</b>
      <p>
        Bryan is the president of FOLP and one of the initiators of this event!
        What was once an idea has now become a reality, and the friends group
        could not be happier! An event like this requires lots of research,
        technological skills and leadership to get it off the ground. He is also
        performing in the live band - Lucky Stone.
        <br />
         Thank you, Bryan!
      </p>

      <b>Jessie</b>
      <p>
        Jessie is a member of the FOLP and is experience-focused - for both
        attendees and volunteers - and values community outreach. Jessie has the
        gift of gab and connections, and loves to bring people together for a
        cause. She is also performing in the live music band - Lucky Stone.
        <br />
         Thank you, Jessie!
      </p>

      <b>Jenny</b>
      <p>
        Jenny is a member of the FOLP and is the overseer of vendor land! She
        can problem-solve, assemble groups, and push an event to new heights -
        all with a baby strapped to her back. Her knowledge and experience are
        very much appreciated.
        <br />Thank you, Jenny!
      </p>

      <b>Patty</b>
      <p>
        Patty is the secretary of FOLP and queen of beverages and crafts. Patty
        has recruited some of our favorite breweries to the event, and is one of
        the live music acts - PJ’s Pub Tour! Her dedication to the event has
        helped make it possible.
        <br />Thank you, Patty!
      </p>

      <h2>Dear volunteers,</h2>
      <p>
        Thank you for your incredible dedication and hard work in making Pond
        Fest a reality! Your time, energy, and enthusiasm have brought this
        event to life, and we couldn’t have done it without you. Whether you
        were behind the scenes or front and center during the event, your
        contributions have created a positive impact on Lums Pond State Park and
        the community we serve. Your commitment not only helps raise essential
        funds for the park but also fosters the spirit of togetherness and
        volunteerism that makes our park and events so special.
      </p>

      <b>Thank you to these amazing humans, our Pond Fest volunteers:</b>
      <ul>
        <li>Adam Molden</li>
        <li>Alyssa Winner</li>
        <li>Amanda Rose</li>
        <li>Andrew kulp</li>
        <li>Bill Delaney</li>
        <li>Bob Conley Sr.</li>
        <li>Bryan Mey</li>
        <li>Candace Rodriguez</li>
        <li>Cara Mowles</li>
        <li>Cathy Skelley</li>
        <li>Chris Grady</li>
        <li>Chriss Funcheon</li>
        <li>Clara Robbs</li>
        <li>Diane Delaney</li>
        <li>Ed Binasiewizc</li>
        <li>Eden Mowles</li>
        <li>Gary Gill</li>
        <li>Glenn Lewis</li>
        <li>Hailey Mack</li>
        <li>Jackie Dessin</li>
        <li>James Ragghianti</li>
        <li>Jamie Walko</li>
        <li>Jeff Mey</li>
        <li>Jenny Grady</li>
        <li>Jessie Mey</li>
        <li>Joel Mey</li>
        <li>John Jacob</li>
        <li>John Moore</li>
        <li>Justin Mowles</li>
        <li>Kate Rose</li>
        <li>Kathy Wayne</li>
        <li>Kendra Modzelweski</li>
        <li>Kenzie Sammut</li>
        <li>Keva Dhapare</li>
        <li>Lauren Mowles</li>
        <li>Lexie Driscoll</li>
        <li>Linda Conley</li>
        <li>Lisa Headman</li>
        <li>Mel Rose</li>
        <li>Mike Waldon</li>
        <li>Parker Floyd</li>
        <li>Patty Jacob</li>
        <li>Samantha Baranowski</li>
        <li>Seth Moore</li>
        <li>Sue Moore</li>
        <li>Tedi Dessin</li>
        <li>Tejaswi Kranthi</li>
        <li>Tom Kretzer</li>
        <li>Wendy Keating</li>
        <li>Zachary Sullivan</li>
        <li>
          ...and everyone whose contributions made this event possible,
          including those we may not have mentioned.
        </li>
      </ul>

      <p>
        With heartfelt appreciation,
        <br />Friends of Lums Pond
      </p>

      <h2>Dear guests,</h2>
      <p>
        Thank you so much for attending our fundraiser. We hope you enjoy your
        time in the park. The amount of interest and feedback for this event
        from the community has been almost overwhelming as if we are all craving
        something positive and pure to pour our hearts into. Lums Pond holds a
        special place in all of our hearts and the friends group is incredibly
        grateful that you support it, too. If it isn’t too much trouble, we
        would greatly appreciate your feedback on your experience today by
        visiting the survey below. This will help us make sure to continue the
        things that went well and improve on things that didn’t.
      </p>

      <a href="https://forms.gle/ftqxbvVzdKg3GZo77">Feedback Survey</a>

      <p>Thank you for being a friend of Lums Pond.</p>

      <p>
        From all of us,
        <br />Friends of Lums Pond
      </p>

      <i> Pond Fest 2024 - hosted by Friends of Lums Pond State Park</i>
    </div>
  </div>
</Layout>

<style>
  .hidden {
    display: none;
  }

  tr:nth-child(even) {
    background-color: #ddd;
  }

  #map-jump {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    border: 1px solid lightskyblue;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 8px;
  }

  #event-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 60vw;
    width: auto;
    height: auto;
    max-height: 50vh;
  }
  #event-shirt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 60vw;
    width: auto;
    height: auto;
    max-height: 50vh;
  }
  #event-map {
    max-width: min(90vw, 50rem);
    width: auto;
    height: auto;
    max-height: 80vh;
  }

  #vendor-map {
    max-width: 80vw;
    width: auto;
    height: auto;
    max-height: 90vh;
  }
</style>

<script is:inline>
  const sortButton = document.getElementById("sortButton");
  sortButton?.addEventListener("click", function () {
    sortButton.innerText =
      sortButton.innerText === "Sort by name?"
        ? "Sort by location?"
        : "Sort by name?";

    const nameContainer = document.getElementById("by-name");
    nameContainer?.classList.toggle("hidden");

    const locContainer = document.getElementById("by-location");
    locContainer?.classList.toggle("hidden");
  });
</script>
