---
const today = new Date();
---

<footer>
	<p>
		&copy; {today.getFullYear()} Friends of Lums Pond, Inc. All rights
		reserved.
	</p>
	<p class="email">
		<a href="mailto:friends-of-lums-pond-list@googlegroups.com">
			<i class="fa-solid fa-envelope"></i>
			 friends-of-lums-pond-list@googlegroups.com</a
		>
	</p>
	<div class="social-links">
		<a href="https://www.facebook.com/FriendsofLumsPond" target="_blank">
			<span class="sr-only">Follow Friends of Lums Pond on Facebook</span>
			<i class="fa-brands fa-facebook fa-2x"></i>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		background: var(--color-lighter);
		color: rgb(var(--color-primary-dark2));
		text-align: center;
	}
	.email {
		font-size: 1rem;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	a {
		text-decoration: none;
		color: var(--color-primary);
	}
	a:hover {
		color: var(--color-primary-light);
	}
</style>
