---
import { getUrl } from "./getUrl";
const today = new Date();
---

<footer>
	<p>
		&copy; {today.getFullYear()} Friends of Lums Pond, Inc. All rights
		reserved.
	</p>
	<div class="other-links">
		<a href="mailto:friends-of-lums-pond-list@googlegroups.com">
			Contact Us</a
		>
		<a
			href="https://donorbox.org/friends-of-lums-pond-state-park?default_interval=o"
			target="_blank"
		>
			Donate</a
		>
		<a href={getUrl("")}> Home</a>
		<a href={getUrl("blog")}> Blog</a>
		<a href={getUrl("about")}> About</a>
	</div>

	<div class="social-links">
		<a href="https://www.facebook.com/FriendsofLumsPond" target="_blank">
			<span class="sr-only">Follow Friends of Lums Pond on Facebook</span>
			<i class="fa-brands fa-facebook fa-2x"></i>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		background: var(--color-lighter);
		color: rgb(var(--color-primary-dark2));
		text-align: center;
	}
	.other-links {
		font-size: 1rem;
		display: flex;
		justify-content: center;
		gap: 1em;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
	}
	a {
		color: var(--color-primary);
	}
	a:hover {
		color: var(--color-primary-light);
	}
</style>
