---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { ...props } = Astro.props;
---

<a target="_blank" {...props}><slot /></a>
<style>
  a {
    background: var(--color-primary-800);
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.5s ease;
    display: flex;
    width: min-content;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
  }
  a:hover,
  a:focus {
    background: var(--color-primary-600);
  }
</style>
