---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description || SITE_DESCRIPTION} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0 auto;
      }
      .prose {
        width: 100%;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }

      @media only screen and (max-width: 700px) {
        main {
          width: 100%;
        }
        .prose {
          padding: 0;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <div class="prose">
        <div class="title">
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
